:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
  position: relative;
}

/* Buttons */
.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.btn.dark {
  background: var(--dark-blue-color);
}

.btn.light {
  background: var(--orange-color);
}

.btn.enrol-icon::before {
  content: url("images/enroll.svg");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enrol-icon {
  padding-left: 60px;
}

header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 0;
  padding: 36px 0;
  padding: 12px;
  transition: all 500ms ease;
}

nav.mobile-nav {
  display: none;
}

nav.scrolled {
  background: var(--dark-color);
  border-radius: 0 0 8px 8px;
  top: 0;
}

nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Hero-Section */
.hero-section {
  height: 100vh;
  width: 100%;

  padding-top: 60px;
  position: relative;
}

.paraCard {
  display: flex;
  align-items: center;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: white;
  margin-bottom: 0;
  padding-top: 118px;
}

.hero-section .left {
  width: 457px;
  padding-bottom: 119px;
}

.hero-section .right {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}

.hero-section .right img {
  height: 520px;
  vertical-align: middle;
  position: absolute;
  right: 5px;

  bottom: 0;
}

/* Acheivement cards */
.achievement-card {
  position: absolute;
}

.achievement-card .content {
  border-radius: 24px;
  background-color: white;
  padding: 8px 32px;

  position: relative;
  z-index: 10;
}

.achievement-card.students-enrolled {
  left: 47%;
  top: 330px;
}
.achievement-card.overall-rating {
  left: 45%;
  top: 520px;
}

.achievement-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: var(--dark-blue-color);
  margin-top: 0;
  text-align: center;
}

.achievement-card p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--dark-blue-color);
  margin-top: -45px;
  margin-bottom: 8px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.achievement-card .content div img {
  position: absolute;
  top: 5px;
  left: 60px;
}

/* Testimonial section */

section {
  margin-top: 100px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  color: var(--dark-blue-color);
  font-weight: 900;
  line-height: 120%;
  margin: 0;
}
h2.light {
  color: #fff;
}

section p {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 200%;
  font-weight: normal;
  margin: 12px 0;
}

.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card .content {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  border-radius: 24px;
  padding: 24px 32px;
  background: var(--light-blue-color);
}

.testimonials-section .testimonial-card:last-child .content {
  background-color: orange;
}

.testimonials-section .testimonial-card .info h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: var(--dark-blue-color);
  margin: 0;
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
}

.testimonials-section .testimonial-card .info p.company {
  font-family: "Raleway", sans-serif;
  color: var(--dark-blue-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 120%;
}

.testimonials-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translateX(20px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}

.testimonials-section .testimonial-card::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 40px;
  background: var(--dark-blue-color);
  left: 60px;
  top: -40px;
  border-radius: 24px 24px 0 0;
}

/* Courses section */

.courses-section {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 70px 0;
  position: relative;
  padding-bottom: 100px;
}

.courses-section h2 {
  text-align: center;
}

.courses-section .course-cards {
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-end;
  gap: 70px;
  position: relative;
}

.courses-section .course-card {
  border-radius: 24px;
  background: #ffffff;
  padding: 0 32px;
  margin: 40px 0;
}
.courses-section .course-cards .course-card:nth-child(2) {
  border-radius: 24px;
  background: #ffffff;
  padding: 0 32px;
  margin: 40px 0;
}
.courses-section .courses-card:first-child {
  position: absolute;
  top: 60px;
  margin-top: 60px;
}

.courses-section .course-card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
  color: var(--dark-blue-color);
}

.courses-section .course-card .info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.courses-section .course-card .duration {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}

.courses-section .course-card .duration::before {
  content: url(images/clock.svg);
  position: absolute;
  top: 2px;
  right: 50px;
}
.couses-btn {
  position: absolute;
  left: 1060px;
  margin-bottom: 180px;
  white-space: nowrap;
}

.app-section {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 80px;
}

.app-section h2 {
  color: var(--dark-blue-color);
  font-size: 60px;
}

.app-section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.app-section .app-buttons {
  display: flex;
  gap: 30px;
}

.app-section .app-buttons .app-btn {
  padding: 10px 40px;
  background: var(--dark-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 100px;
}

/* Footer */

footer {
  background: var(--dark-color);
  color: #fff;
  padding: 60px 0;
  height: 100vh;
}

.links-container .links li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.links-container .links a {
  color: white;
  text-decoration: none;
}

footer h3 {
  color: orange;
}

footer .links-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
  margin-left: 40px;
  display: flex;
  gap: 28px;
  margin-bottom: 23px;
}

footer form input {
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  line-height: 200%;
  padding: 8px 32px;
  width: 100%;
}

footer form button {
  position: absolute;
  right: 150px;
  top: 50%;
}

@media (max-width: 1100px) {
  .btn {
    padding: 12px 32px;
  }
  .wrapper {
    padding: 0 100px;
  }
  nav {
    width: 100%;
    left: 0;
    right: 0;
    padding: 36px 100px;
  }
  nav.scrolled {
    padding: 16px 100px;
  }

  header,
  .hero-section,
  header .wrapper {
    max-height: 1100px;
  }

  .hero-section {
    height: 100vh;
  }
  .paraCard {
    display: flex;
    flex-direction: column;
  }

  .hero-section .left {
    width: 100%;
    padding-top: 100px;
  }
  .hero-section .right {
    position: absolute;
    bottom: 0;
  }
  .hero-section .right img {
    width: 496px;
    height: 400px;
  }

  .hero-section .achievement-card {
    position: relative;
    margin-bottom: 80px;
  }
  .achievement-card.students-enrolled,
  .achievement-card.overall-rating {
    left: unset;
    top: unset;
  }

  .hero-section .achievement-cards {
    align-self: flex-start;
    margin: 40px;
  }

  .hero-section .left h1 {
    font-size: 50px;
    line-height: 125%;
  }

  h2 {
    font-size: 40px;
  }

  .testimonials-section {
    flex-direction: column;
    align-items: stretch;
    padding-top: 80px;
    padding-right: 80px;
  }
  .testimonials-section .testimonial-card {
    width: 100%;
    margin-bottom: 40px;
  }
  .testimonials-section .desktop-btn {
    display: none;
  }
  .testimonials-section .mobile-btn {
    display: block;
    align-self: flex-end;
    order: 3;
    margin-top: 5px;
  }
  .testimonials-section .left {
    order: 2;
  }
  .testimonials-section .right {
    order: 1;
  }
  .courses-section {
    display: flex;
    align-items: center;
  }
  .courses-section .course-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .courses-section .couses-btn {
    left: 600px;
  }

  .app-section h2 {
    font-size: 40px;
  }

  footer .links-container {
    grid-template-columns: 1fr 1fr;
  }

  .links-container .links ul li {
    padding-bottom: 16px;
  }

  footer .links-container .links:last-child {
    grid-column: 1/3;
  }
  footer {
    height: 700px;
  }
}

@media (max-width: 800px) {
  nav {
    display: none;
  }
  html,
  body {
    height: 100%;
  }

  nav.mobile-nav {
    display: flex;
    position: absolute;
    z-index: 99;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
  }

  .hero-section .right img {
    margin-right: 24px;
    padding-left: 10px;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 100px;
    background: var(--light-blue-color);
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
}
